{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Schedule list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Active</th>
                <th>Startdate</th>
                <th>Starttime</th>
                <th>Enddate</th>
                <th>Endtime</th>
                <th>Firstnotificationsent</th>
                <th>Secondnotificationsent</th>
                <th>Thirdnotificationsent</th>
                <th>Noresponse</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_schedule_show', { 'id': entity.id }) }}">{{ entity.active }}</a></td>
                <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.startTime }}</td>
                <td>{% if entity.endDate %}{{ entity.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.endTime }}</td>
                <td>{{ entity.firstNotificationSent }}</td>
                <td>{{ entity.secondNotificationSent }}</td>
                <td>{{ entity.thirdNotificationSent }}</td>
                <td>{{ entity.noResponse }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_schedule_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_schedule_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_schedule_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
