{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Schedule</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Active</th>
                <td>{{ entity.active }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ entity.startDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{{ entity.startTime }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{{ entity.endTime }}</td>
            </tr>
            <tr>
                <th>Firstnotificationsent</th>
                <td>{{ entity.firstNotificationSent }}</td>
            </tr>
            <tr>
                <th>Secondnotificationsent</th>
                <td>{{ entity.secondNotificationSent }}</td>
            </tr>
            <tr>
                <th>Thirdnotificationsent</th>
                <td>{{ entity.thirdNotificationSent }}</td>
            </tr>
            <tr>
                <th>Noresponse</th>
                <td>{{ entity.noResponse }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_schedule') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_schedule_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
