<?xml version="1.0" encoding="UTF-8" ?>
<endpoint>
    {{ include('EmaWebServiceBundle:User:show.xml.twig', {'entity': user}) }}
    {% if contactingTime is not null %}
        {{ include('EmaWebServiceBundle:ContactingTime:show.xml.twig', {'entity': contactingTime}) }}
    {% endif %}
</endpoint>
