<form name="input"
      action="{{ path('admin_scheduleGenerator_submit') }}"
      method="post">
    Study Id <input type="text" name="userId" value="{% if user is defined %}{{ user.username }}{% endif %}" />
    <input type="submit" value="Generate" />
</form>
