<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Denied</th>
            <th>Survey date</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in schedules %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.denied }}</td>
            <td>{% if entity.surveyDate %}{{ entity.surveyDate|date('y-m-d') }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
