{% extends '::base.html.twig' %}

{% block body -%}

    {{ include('EmaAdminBundle:ScheduleGenerator:form.html.twig', {'user': user}) }}

    <br/>

    {% if schedules is defined %}
        {{ include('EmaAdminBundle:ScheduleGenerator:list.html.twig', {'schedules': schedules}) }}
    {% endif %}

{% endblock %}