{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Answer list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Answer</th>
                <th>Submissiontime</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_answer_show', { 'id': entity.id }) }}">{{ entity.answer }}</a></td>
                <td>{% if entity.submissionTime %}{{ entity.submissionTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_answer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_answer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_answer_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
