<!DOCTYPE html>
<html>
<style>
    .table-title h3 {
        color: #fafafa;
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        font-family: "Roboto", helvetica, arial, sans-serif;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }

    /*** Table Styles **/

    .table-fill {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        height: 320px;
        margin: auto;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;
    }

    .table-fill th {
        color: #D5DDE5;;
        background: #1b1e24;
        border-bottom: 4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 16px;
        font-weight: 100;
        padding: 10px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
        text-align: center;
    }

    .table-fill th:first-child {
        border-top-left-radius: 3px;
    }

    .table-fill th:last-child {
        border-top-right-radius: 3px;
        border-right: none;
    }

    .table-fill tr {
        border-top: 1px solid #C1C3D1;
        color: #666B85;
        font-size: 16px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

    .table-fill tr:hover td {
        background: #4E5066;
        color: #FFFFFF;
        border-top: 1px solid #22262e;
        border-bottom: 1px solid #22262e;
    }

    .table-fill tr:first-child {
        border-top: none;
    }

    .table-fill tr:last-child {
        border-bottom: none;
    }

    .table-fill tr:nth-child(odd) td {
        background: #EBEBEB;
    }

    .table-fill tr:nth-child(odd):hover td {
        background: #4E5066;
    }

    .table-fill tr:last-child td:last-child {
        border-bottom-right-radius: 3px;
    }

    .table-fill td {
        padding: 2px;
        background: #FFFFFF;
        vertical-align: middle;
        font-weight: 300;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    label {
        width: 200px;
    }

    input {
        width: 120px;
    }
</style>
<body>

<form action="{{ url('admin_export_data', { 'startDate': startDate|date('Y-m-d'), 'endDate': endDate|date('Y-m-d'), 'studyId': studyId|default }) }}">
    <table>
        <tr>
            <td><label for="startDate">Start Date:</label></td>
            <td><input name="startDate" id="startDate" value="{{ startDate|date('Y-m-d') }}" type="date"
                       required="required"></td>
        </tr>
        <tr>
            <td><label for="endDate">End Date:</label></td>
            <td><input name="endDate" id="endDate" value="{{ endDate|date('Y-m-d') }}" type="date" required="required">
            </td>
        </tr>
        <tr>
            <td><label for="studyId">Study Id:</label></td>
            <td><input name="studyId" id="studyId"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="export" value="Export"></td>
        </tr>
    </table>

    {% for index,role in roleIndex %}
        <h2>{{ role }}</h2>
        <table>
            {% for key,range in groupUsers[index] %}
                <tr>
                    <td><input type="radio" name="groupPage" value="{{ index }}_{{ key }}" id="{{ index }}_{{ key }}"></td><td><label for="{{ index }}_{{ key }}">{{ range.first }} - {{ range.last }}</label></td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
</form>

</body>
</html>
