{% if message is not null %}
<div>
    <h2>{{ message }}</h2>
    <pre>{{ response|default }}</pre>
</div>
{% endif %}

<form action="{{ url('admin_text_post') }}" method="post">
    <table>
        <tr>
            <td>Text</td>
            <td>{{ text }}</td>
        </tr>
        <tr>
            <td><label for="phone1">Number:</label></td>
            <td>
                <input name="phone1" type="text" maxlength="3" required style="width: 35px;">
                -
                <input name="phone2" type="text" maxlength="7" required style="width: 70px;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Send"></td>
        </tr>
    </table>
</form>
