<activity>
    <id>{{ entity.id }}</id>
    <answer>{{ entity.answer }}</answer>
    <submissionTime>{{ entity.submissionTime }}</submissionTime>
    <user>{{ entity.user.id }}</user>
    <question>{{ entity.question.id }}</question>
    <schedule>{{ entity.schedule }}</schedule>
</activity>