<!DOCTYPE html>
<html>
<style>
    .table-title h3 {
        color: #fafafa;
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        font-family: "Roboto", helvetica, arial, sans-serif;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }

    /*** Table Styles **/

    .table-fill {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        height: 320px;
        margin: auto;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;
    }

    .table-fill th {
        color: #D5DDE5;;
        background: #1b1e24;
        border-bottom: 4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 16px;
        font-weight: 100;
        padding: 10px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
        text-align: center;
    }

    .table-fill th:first-child {
        border-top-left-radius: 3px;
    }

    .table-fill th:last-child {
        border-top-right-radius: 3px;
        border-right: none;
    }

    .table-fill tr {
        border-top: 1px solid #C1C3D1;
        color: #666B85;
        font-size: 16px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

    .table-fill tr:hover td {
        background: #4E5066;
        color: #FFFFFF;
        border-top: 1px solid #22262e;
        border-bottom: 1px solid #22262e;
    }

    .table-fill tr:first-child {
        border-top: none;
    }

    .table-fill tr:last-child {
        border-bottom: none;
    }

    .table-fill tr:nth-child(odd) td {
        background: #EBEBEB;
    }

    .table-fill tr:nth-child(odd):hover td {
        background: #4E5066;
    }

    .table-fill tr:last-child td:last-child {
        border-bottom-right-radius: 3px;
    }

    .table-fill td {
        padding: 2px;
        background: #FFFFFF;
        vertical-align: middle;
        font-weight: 300;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    label {
        width: 200px;
    }

    input {
        width: 120px;
    }
</style>
<body>

<form action="{{ url('admin_report_show_notification_status', { 'startDate': startDate|date('Y-m-d'), 'endDate': endDate|date('Y-m-d'), 'studyId': studyId|default }) }}">
    <table>
        <tr>
            <td><label for="startDate">Start Date:</label></td>
            <td><input name="startDate" id="startDate" value="{{ startDate|date('Y-m-d') }}" type="date"
                       required="required"></td>
        </tr>
        <tr>
            <td><label for="endDate">End Date:</label></td>
            <td><input name="endDate" id="endDate" value="{{ endDate|date('Y-m-d') }}" type="date" required="required">
            </td>
        </tr>
        <tr>
            <td><label for="studyId">Study Id:</label></td>
            <td><input name="studyId" id="studyId" value="{{ user.username|default }}"></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit" value="Submit"></td>
            <td><input type="submit" name="export" value="Export"></td>
        </tr>
    </table>
</form>

<br>
{% if user is defined %}
    <table style="text-align: left">
        <tr><th>Study ID</th><td>{{ user.username }}</td></tr>
        <tr><th>Group</th><td>{{ user.role }}</td></tr>
        <tr><th>Start Date</th><td>{{ user.startDate|date }}</td></tr>
        <tr><th>Email</th><td>{{ user.email }}</td></tr>
        <tr><th>Study Phone</th><td>{{ baseline.studyphonenumber }}</td></tr>
        <tr><th>EMA Scheduled</th><td>{{ user.schedules|length }}</td></tr>
        <tr><th>First Gift Card End</th><td>{{ firstGiftCardEndDate|date }}</td></tr>
        <tr><th>Total EMA Submission</th><td>{{ totalSubmitted }}</td></tr>
        <tr><th>Total EMA Denied</th><td>{{ totalDenied }}</td></tr>
        <tr><th>Total EMA Scheduled</th><td>{{ totalSchedule }}</td></tr>
        <tr><th>75% of Scheduled EMA</th><td>{{ totalSchedule*0.75 }}</td></tr>
        <tr><th>Progress</th><td> ({{ totalSubmitted }} + {{ totalDenied }})/{{ totalSchedule*0.75 }} = {{ 100*(totalSubmitted + totalDenied)/(totalSchedule*0.75) }}</td></tr>
        <tr><th>Final Progress</th><td> ({{ totalSubmitted }} + {{ totalDenied }})/{{ totalSchedule*0.75 }} = {{ progress }}</td></tr>
        {% for key,surveyDate in surveyDates %}
            <tr><th>Survey Notification {{ key + 1 }}</th><td>{{ surveyDate|date('Y-M-d') }}</td></tr>
        {% endfor %}
    </table>
    <br>
{% endif %}

<table class="table-fill">
    <thead>
    <tr>
        <th>Study Id</th>
        <th>Week Number</th>
        <th>Survey Date</th>
        <th>Notification Time</th>
        <th>Notification Serial</th>
        <th>Notification Sent</th>
        <th>Participant Answered</th>
        <th>Submission Time</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    {% for schedule in result %}
        {% if schedule.notifications|length %}
            {% for notification in schedule.notifications %}
                <tr>
                    <td>{{ schedule.user.username }}</td>
                    <td>{{ schedule|weekNumber }}</td>
                    <td>{{ schedule.surveyDate|date('Y-m-d') }}</td>
                    <td>{{ notification.scheduledTime|date('Y-m-d H:i:s') }}</td>
                    <td>{{ notification.serial }}</td>
                    <td>{% if notification.sent %}Yes{% else %}No{% endif %}</td>
                    {% if notification.answers|length %}
                        <td>1</td>
                        <td>{{ notification.answers[0].submissionTime|date('Y-m-d H:i:s') }}</td>
                    {% elseif schedule.denied %}
                        <td>1</td>
                        <td>Denied</td>
                    {% else %}
                        <td>0</td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>{{ schedule.user.username }}</td>
                <td>{{ schedule|weekNumber }}</td>
                <td>{{ schedule.surveyDate|date('Y-m-d') }}</td>
                <td colspan="5">Not generated</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

</body>
</html>
