<schedule>
    <id>{{ entity.id }}</id>
    <active>{{ entity.active }}</active>
    <startDate>{{ entity.startDate|date('Y-m-d') }}</startDate>
    <startTime>{{ entity.startTime }}</startTime>
    <endDate>{{ entity.endDate|date('Y-m-d') }}</endDate>
    <endTime>{{ entity.endTime }}</endTime>
    <firstNotificationSent>{{ entity.firstNotificationSent }}</firstNotificationSent>
    <secondNotificationSent>{{ entity.secondNotificationSent }}</secondNotificationSent>
    <thirdNotificationSent>{{ entity.thirdNotificationSent }}</thirdNotificationSent>
    <noResponse>{{ entity.noResponse }}</noResponse>
    <user>{{ entity.user.id }}</user>
</schedule>
