{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ContactingTime</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Starttime</th>
                <td>{{ entity.startTime|date("H:m:s") }}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{{ entity.endTime|date("H:m:s") }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_contactingtime') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_contactingtime_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
